:root {
    --bg-color: #1e272e;
    --second-bg-color: #12171c;
    --main-color: #3867d6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body,
button,
input {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

body {
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    background-color: #131324;
}
:root {
    --primary-color: #1abc9c;
}
