


/client/node_modules
/server/node_modules

/server/.env
/client/.env

/client/src/routes/index.tsx
/client/src/store/index.ts

/client/src/hooks/useChatSocket.ts

/client/src/schemas/Scheme.ts


/server/storage/uploads

/nest-server/node_modules
/nest-server/dist
/nest-server/.env
/nest-server/public/uploads